# OrdinalEncoder
- Se existe uma relação entre os rótulos de dados, podemos colocá-los em uma ordem e usar números para representar cada um dos rótulos
    - Ex: ruim / médio / bom pode ser representado como 0 / 1 / 2
- Independente do número de rótulos, é possível fazer a transformação **resultando em 1 única coluna**
- Vamos considerar a base de HR disponível no Kaggle:
    - https://www.kaggle.com/datasets/arashnic/hr-analytics-job-change-of-data-scientists
    - [Essa base está disponível no drive](https://drive.google.com/file/d/1EdQSEnNFM8ufrW3831EItxjSaRhf0Vw9/view?usp=share_link)

In [ ]:
# Importando o pandas

In [ ]:
# Importando a base

In [ ]:
# Visualizando a base

In [ ]:
# E as informações dessa base

- Podemos verificar a coluna **education_level** para tratar o nível de educação do candidato

In [ ]:
# Verificando a coluna education_level

- Sabemos que existe uma relação entre o nível de educação
    - Por exemplo, começamos no ensino primário, depois vamos para a high school, graduate, masters e então phd
- Podemos começar transformando essas informações em colunas utilizando o One-Hot Encoding

In [ ]:
# Transformando em colunas

- Só que nesse caso estamos criando 5 novas colunas no lugar de 1, então isso aumenta o tamanho da nossa base
- **Outra opção seria utilizar valores relacionados ao nível educacional do candidato (ex: 0 para primário, 1 para ensino médio (high school), 2 para graduação, etc)**

<a id="OrdinalEncoder"></a>
- **Para isso, vamos utilizar o OrdinalEncoder**:
    - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OrdinalEncoder.html#sklearn.preprocessing.OrdinalEncoder

In [ ]:
# Importando

In [ ]:
# Criando o objeto

In [ ]:
# Fazendo o fit com os dados

In [ ]:
# Transformando os dados

In [ ]:
# Criando um DF

In [ ]:
# Unindo com o dataset original

In [ ]:
# Visualizando a nova base

In [ ]:
# Considerando apenas as colunas de nível educacional

- Observe que o encoder que fizemos não está relacionando o nível correto da educação do candidato, pois ele está considerando um candidato com High School como 1, com ensino primário como 4 e graduado como 0
- Podemos [voltar](#OrdinalEncoder) no OrdinalEncoder e definir `categories`

- Obs: ao usarmos o `categories`, vamos precisar informar para o OrdinalEncoder o que ele deve fazer com os valores vazios. Caso contrário, vamos ter um erro informando:<br>
`ValueError: Found unknown categories [nan] in column ___ during fit`

In [ ]:
# Podemos também filtrar os valores com education_level vazios

- Também podemos passar o `dtype` como parâmetro do próprio OrdinalEncoder para determinar o tipo dos dados

- Para transformar mais de 1 coluna, basta passar essas informações nas categorias

In [ ]:
# Adicionando a coluna de enrolled_university na análise

In [ ]:
# Definindo a ordem dos rótulos das duas colunas

In [ ]:
# E usando o OrdinalEncoder

In [ ]:
# Fazendo o fit com os dados

In [ ]:
# Transformando os dados