### `Criando tabelas e inserindo dados no SQLite3`
https://docs.python.org/3/library/sqlite3.html

In [103]:
# Criando uma conexão
con = sqlite3.connect("tutorial.db")

In [104]:
# Criando um cursor
cur = con.cursor()

In [107]:
# Criando uma tabela da documentação

cur.execute("CREATE TABLE movie(title, year, score)")

In [109]:
# inserindo linhas conforme documentação

cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

OperationalError: database is locked

In [ ]:
# Selecionando todos os dados da tabela criada
cur.execute('SELECT * FROM movie').fetchall()

[]