### `Criando tabelas e inserindo dados no SQLite3`
https://docs.python.org/3/library/sqlite3.html

In [1]:
# Importando o SQLite3
import sqlite3

In [2]:
# Criando uma conexão
con = sqlite3.connect("tutorial.db")

In [3]:
# Criando um cursor
cur = con.cursor()

In [4]:
# Criando uma tabela da documentação

cur.execute("CREATE TABLE movie(title, year, score)")

In [5]:
# inserindo linhas conforme documentação

cur.execute("""
    INSERT INTO movie VALUES
        ('Monty Python and the Holy Grail', 1975, 8.2),
        ('And Now for Something Completely Different', 1971, 7.5)
""")

In [6]:
# Selecionando todos os dados da tabela criada
cur.execute('SELECT * FROM movie').fetchall()

[('Monty Python and the Holy Grail', 1975, 8.2),
 ('And Now for Something Completely Different', 1971, 7.5)]

In [7]:
# Salvando as mudanças
con.commit()

In [8]:
# Fechando a conexão
con.close()

### `Adicionando um DataFrame como tabela na base`
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_sql.html

In [9]:
# Importando o pandas
import pandas as pd

In [10]:
dados = {
    'x': [1, 2, 3, 4, 5],
    'y': [10, 9, 8, 7, 6],
    'z': ['a', 'b', 'c', 'd', 'e']
}

dados = pd.DataFrame(dados)

In [13]:
# visualizando o dataframe
dados.head()

   x   y  z
0  1  10  a
1  2   9  b
2  3   8  c
3  4   7  d
4  5   6  e

In [14]:
# abrindo a conexão novamente
import sqlite3
con = sqlite3.connect('exemplo.db')

In [15]:
# adicionando essa base em uma tabela
dados.to_sql('dados',con,if_exists='replace')

5

`if_exists` {'fail', 'replace', 'append'}, padrão 'fail'
Como se comportar se a tabela já existir.

- fail: gera um ValueError.

- replace: Elimine a tabela antes de inserir novos valores.

- append: Insere novos valores na tabela existente.

In [16]:
# criando o cursor
cur = con.cursor()

In [17]:
# selecionando todos os dados da tabela
cur.execute('SELECT * FROM dados').fetchall()

[(0, 1, 10, 'a'),
 (1, 2, 9, 'b'),
 (2, 3, 8, 'c'),
 (3, 4, 7, 'd'),
 (4, 5, 6, 'e')]

In [18]:
# visualizando o nome das colunas
cur.description

(('index', None, None, None, None, None, None),
 ('x', None, None, None, None, None, None),
 ('y', None, None, None, None, None, None),
 ('z', None, None, None, None, None, None))

In [19]:
# adicionado a tabela sem o index
dados.to_sql('dados',con,if_exists='replace',index=False)

5

In [21]:
# visualizando novamente o nome das colunas
cur.description

(('x', None, None, None, None, None, None),
 ('y', None, None, None, None, None, None),
 ('z', None, None, None, None, None, None))

## `DROP TABLE`

- permite apagar qualquer tabela do banco de dados
- cuidado comando é `IRREVERSIVEL`

In [ ]:
# executando o DROP da tabela

cur.execute('DROP TABLE dados')